.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #988888;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.public_fixedDataTableCell_cellContent {
  font-size: small;
}

.App-input textarea {
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
  width: -webkit-fill-available;
}

.input-txt {
  margin-top: 5px;
}

.input-eg-txt {
  font-size: .9em;
  color: #9ea2a5;
  padding-bottom: 5px;
}

.count_inc {
  background-color:#fdf696;
}

.inc {
  background-color:#b1f9e8;
}

.dec {
  background-color:#f9b3ce;
}